<div *ngIf="user as usuario; else loading">
  <h2>Bienvenido, {{ usuario.nick }}</h2>
  <p>Email: {{ usuario.email }}</p>


  <h3>Datos del Cliente</h3>

  <ng-container>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Apellidos: {{ usuario.apellidos }}</p>
    <p>DNI: {{ usuario.dni }}</p>
    <p>Teléfono: {{ usuario.telefono }}</p>
    <p>Dirección: {{ usuario.direccion }}</p>
    <img *ngIf="usuario.foto" [src]="usuario.foto" alt="Foto de usuario" width="150">
  </ng-container>

  <ng-template #noClientData>
    <p>No hay datos de cliente disponibles.</p>
  </ng-template>
</div>

<ng-template #loading>
  <p>Cargando datos del usuario...</p>
</ng-template>
