<div class="contenedor-padre display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;">
<app-header></app-header>
<app-hero-seccciones >
    <h1 class="text-4xl font-extrabold text-blue-900 leading-tight">
    Catálogo
  </h1>
</app-hero-seccciones>

<app-buscador-inicio (click)="searchLibros()"></app-buscador-inicio>

<div class=" mx-[100px]  height: 100%;
    overflow: auto;">
  <div class="container mx-auto p-4">
    <div class="flex">
      <!-- First Column: Column Direction (20% width) -->
      <div class="flex flex-col w-1/5">
        <app-filtro-catalogo></app-filtro-catalogo>

      </div>

      <!-- Second Column: Row Direction (80% width) -->
      <div class="flex flex-row w-4/5 ml-[80px]">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 p-4">
          <!-- Iteramos los libros -->
          <div
            *ngFor="let libro of libros"
            class="bg-white rounded-lg shadow-md p-4 flex flex-col col-4 items-center"
          >
            <!-- Imagen del libro -->
            <img
              [src]="libro.imagen"
              [alt]="libro.titulo"
              class="w-40 h-60 object-cover rounded"
            />

            <!-- Nombre del libro -->
            <h3 class="mt-4 text-lg font-bold text-gray-800 text-center">
              {{ libro.titulo }}
            </h3>

            <!-- Autor del libro -->
            <p class="text-sm text-gray-600 text-center">por {{ libro.autor }}</p>

            <!-- Precio del libro -->
            <p class="mt-2 text-xl font-semibold text-blue-900">
              {{ libro.precio | currency: 'EUR' }}
            </p>

            <!-- Botón para comprar o ver más detalles -->
            <button
              class="mt-4 px-4 py-2 bg-blue-900 text-white rounded hover:bg-blue-700"
            >
              Ver detalles
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
</div>


