<div class="min-h-screen flex flex-col">
  <section class="bg-customGreen py-2 md:py-3 shadow-gray-500 shadow-sm" xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <div class="container mx-auto flex flex-col md:flex-row items-centerpx-4 md:px-6 lg:px-8 lg:gap-x-4 justify-between">
      <div class="mt-10 md:mt-0 md:ml-0 lg:ml-0">
        <img src="../../../../assets/logo_puntosafa.png" alt="Logo Punto Safa" class="w-full max-w-xxs md:max-w-xs mx-auto">
      </div>

      <div class="flex items-center justify-center text-center md:text-left max-w-2xl lg:max-w-xl mx-auto">
        <h1 class="text-4xl font-extrabold text-blue-900 leading-tight">
          Login
        </h1>
      </div>
    </div>
  </section>

  <!-- Contenedor Principal -->
  <main class="flex-grow flex flex-col items-center justify-center bg-white">
    <div class="bg-blue-50 p-12 rounded-xl shadow-2xl w-full max-w-[750px] mx-auto">
      <h3 class="text-3xl font-semibold text-gray-800 text-center mb-6">Bienvenido de nuevo</h3>

      <form class="space-y-8" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- Campo de Nombre -->
        <div class="relative">
          <input id="username" type="text" formControlName="username" required
                 class="block w-full pl-14 pr-4 rounded-lg border border-gray-300 py-3 text-gray-900 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-500 sm:text-lg"
                 placeholder="Nombre de usuario">
          <div class="absolute inset-y-0 left-4 flex items-center text-gray-500">
            <i class="fa-solid fa-user text-lg"></i>
          </div>
        </div>

        <!-- Campo de Contraseña -->
        <div class="relative">
          <input id="password" type="password" formControlName="password" required
                 class="block w-full pl-14 pr-4 rounded-lg border border-gray-300 py-3 text-gray-900 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-500 sm:text-lg"
                 placeholder="Contraseña">
          <div class="absolute inset-y-0 left-4 flex items-center text-gray-500">
            <i class="fa-solid fa-lock text-lg"></i>
          </div>
        </div>

        <!-- Botón de Ingreso -->
        <button type="submit"
                class="w-full bg-blue-600 text-white py-4 rounded-lg font-semibold text-lg shadow-md hover:bg-teal-700 transition-all duration-300">
          Iniciar Sesión
        </button>
      </form>

      <!-- Enlace a Registro -->
      <p class="text-center text-lg mt-6 text-gray-600">
        ¿Aún no tienes cuenta?
        <a href="/registro" class="text-blue-600 font-bold hover:underline">Regístrate aquí.</a>
      </p>

      <!-- Mostrar mensaje de error -->
      <div>
        <p *ngIf="errorMessage" class="alert alert-error p-4 mt-4 bg-red-100 text-red-800 border border-red-400 rounded">
          {{ errorMessage }}
        </p>
      </div>
    </div>
  </main>
</div>
