<header class="bg-custom-blue text-white p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <img src="/assets/logo_puntosafa.png" alt="Logo Punto Safa" class="h-12 md:h-16">
      <strong class="text-xl md:text-2xl">Punto Safa</strong>
    </div>

    <!-- Botón de menú en móvil -->
    <button
      (click)="toggleMenu($event)"
      class="block md:hidden text-white focus:outline-none"
      aria-label="Abrir menú"
      [attr.aria-expanded]="isMenuOpen"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Menú de navegación para pantallas grandes -->
    <ul class="hidden md:flex space-x-12">
      <li><a routerLink="/home" class=" text-2xl text-gray-50 hover:text-customAzulito">Inicio</a></li>
      <li><a routerLink="/catalogo" class=" text-2xl text-gray-50 hover:text-customAzulito">Catálogo</a></li>
      <li>
        <div class="cart-icon-container" *ngIf="isLoggedIn" (click)="toggleCart()">
          <svg class="icon-cart" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z"/>
          </svg>
          <span class="cantidad">{{ cartQuantity }}</span>
        </div>
      </li>

      <!-- Mostrar dependiendo del estado de la sesión -->
      <li *ngIf="!isLoggedIn">
        <a routerLink="/login" class=" text-xl  bg-white text-custom-blue px-4 py-2 rounded hover:bg-gray-200">
          Iniciar sesión o registrarse
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="relative">
        <button (click)="toggleAccountMenu($event)" class="flex items-center space-x-2">
          <img
            [src]="userData?.foto || 'assets/logo_puntosafa.png'"
            [alt]="'Foto de perfil de ' + (userData?.nombre || 'Usuario')"
            class="w-10 h-10 rounded-full"
          >
        </button>

        <!-- Submenú desplegable -->
        <ul [ngClass]="{'block': showMenu, 'hidden': !showMenu}"
            class="absolute bg-white  shadow-md rounded mt-2 w-40 right-0">
          <li><a routerLink="/perfil" class=" text-l block px-4 py-2 text-custom-blue hover:bg-gray-100">Perfil</a></li>
          <li><a routerLink="/perfil-adm" class=" text-l block px-4 py-2 text-custom-blue hover:bg-gray-100">Perfil Admin</a></li>
          <li><a routerLink="/pedidos-cliente" class=" text-l block px-4 py-2 text-custom-blue hover:bg-gray-100">Mis Pedidos</a></li>
          <li>
            <button (click)="logout()" class=" text-l block w-full text-left px-4 py-2 hover:bg-red-100 text-red-600">
              Cerrar Sesión
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Menú desplegable para móviles -->
  <div [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="md:hidden bg-custom-blue text-white text-center py-4">
    <a routerLink="/" class="block py-2 text-customAzulito   hover:text-customBlanco">Inicio</a>
    <a routerLink="/catalogo" class="block py-2 text-customAzulito hover:text-customBlanco">Catálogo</a>

    <ng-container *ngIf="!isLoggedIn; else loggedInMenu">
      <a routerLink="/login" class="block bg-white text-custom-blue  px-4 py-2 rounded hover:text-customAzulito">
        Iniciar sesión o registrarse
      </a>
    </ng-container>


    <ng-template #loggedInMenu>
      <a routerLink="/perfil" class="block py-2  text-customAzulito hover:text-customBlanco">Perfil</a>
      <a routerLink="/perfil-adm" class="block py-2  text-customAzulito hover:text-customBlanco">Perfil Admin</a>
      <a routerLink="/pedidos-cliente" class="block py-2 text-customAzulito hover:text-customBlanco">Mis Pedidos</a>
      <button (click)="logout()" class="block w-full py-2 text-red-400 text:bg-red-100 hover:bg-red-100">
        Cerrar Sesión
      </button>
    </ng-template>
  </div>


</header>

<div *ngIf="isLoggedIn && showCart">
  <app-carrito-compra></app-carrito-compra>
</div>
