<section class="bg-white py-4">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <div class="  container mx-auto flex justify-center items-center space-x-4">
    <input
      type="text"
      placeholder="Buscar libro por autor o título..."
      class="border  border-gray-300 rounded-xl px-4 py-2 w-2/3 text-custom-blue "
    />
    <button (click)="searchLibros()" class="bg-blue-900 text-white px-6 py-2 rounded hover:bg-gray-400">
      Buscar
    </button>
  </div>
</section>
