
  <section class="bg-customGreen py-2 md:py-4 shadow-gray-500 shadow-sm" xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <div class="container mx-auto flex flex-col md:flex-row items-center
   px-4 md:px-6 lg:px-8 lg:gap-x-4 justify-between">

      <div class="mt-10 md:mt-0 md:ml-0 lg:ml-0">
        <img src="../../../../assets/logo_puntosafa.png" alt="Logo Punto Safa" class="w-full max-w-xxs md:max-w-xs mx-auto">
      </div>

      <!-- Dynamic Text Content (passed from parent) -->
      <div class="flex items-center justify-center text-center md:text-left max-w-2xl lg:max-w-xl mx-auto">
        <h1 class="text-4xl font-extrabold text-blue-900 leading-tight">
          Información de libro
        </h1>
      </div>
    </div>
  </section>


  <div class="bg-customAzulito pt-8 pb-8 mb-0">
  <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-sm overflow-hidden flex flex-col md:flex-row   gap-x-8">
    <!-- Imagen del libro -->
    <div class="md:w-1/2 flex items-center justify-center my-10 mx-8">
      <img [src]="libro?.imagen" [alt]="libro?.titulo" class="w-full h-auto object-contain my-auto">
    </div>

    <!-- Contenido del libro -->
    <div class="p-6 md:w-2/3">
      <h1 class="text-3xl font-bold text-gray-900 mb-2">{{ libro?.titulo }}</h1>
      <p class="text-gray-600 text-sm">Por {{ libro?.autor }}</p>
      <p class="text-gray-700 mt-4 leading-relaxed">{{ libro?.resumen }}</p>

      <div class="mt-4 space-y-2">
        <p class="text-gray-600"><span class="font-semibold">Año de publicación:</span> {{ libro?.anioPublicacion }}</p>
        <p class="text-gray-600"><span class="font-semibold">ISBN:</span> {{ libro?.ISBN }}</p>
        <p class="text-gray-600"><span class="font-semibold">Editorial:</span> {{ libro?.editorial }}</p>
        <p class="text-gray-600"><span class="font-semibold">Idioma:</span> {{ libro?.idioma }}</p>
        <p class="text-gray-600"><span class="font-semibold">Páginas:</span> {{ libro?.numPaginas }}</p>
        <p class="text-gray-600"><span class="font-semibold">Categoría:</span> {{ libro?.categoria }}</p>

      </div>
      <div class="flex flex-col sm:flex-row items-center mt-4 bg-gray-100 p-4 rounded-lg shadow-md">
        <p class="text-lg font-semibold text-gray-800 flex-shrink-0">Calificación media:</p>

        <div class="flex items-center ml-2 space-x-1 text-yellow-400 text-xl">
          <ng-container *ngFor="let star of starsArray">
            <span class="text-yellow-500">★</span>
          </ng-container>
          <ng-container *ngIf="hasHalfStar">
            <span class="text-yellow-500">½</span>
          </ng-container>
        </div>

        <span class="text-gray-700 text-lg font-medium ml-3">
<!--    ({{ media_calificacion !== null && !isNaN(media_calificacion) ? media_calificacion?.toFixed(1) : '0' }}/5)-->
  </span>
      </div>



      <div class="mt-4">
        <span class="text-2xl font-bold text-gray-900">{{ libro?.precio | currency: '€' }}</span>
      </div>

      <div class="mt-6">
        <label for="cantidad" class="block text-sm font-medium text-gray-700">Cantidad</label>
        <div class="mt-1 flex items-center">
          <button (click)="decreaseQuantity()" class="bg-customGreen text-gray-700 px-3 py-1 rounded-l-md hover:bg-gray-300">-</button>
          <input id="cantidad" type="number" [(ngModel)]="quantity" class=" text-gray-800 w-16 text-center border-t border-b border-gray-200">
          <button (click)="increaseQuantity()" class="bg-customAzulito text-gray-700 px-3 py-1 rounded-r-md hover:bg-gray-300">+</button>
        </div>
      </div>

      <div class="mt-6">
        <button *ngIf="libro"  (click)="addToCart(libro)" class="w-full bg-blue-600 text-white py-3 px-6 rounded-lg hover:bg-blue-700 transition duration-300">
          Agregar al carrito
        </button>
      </div>
    </div>
  </div>

  <!-- RESEÑAS -->

  <div class="max-w-4xl mx-auto bg-gradient-to-r from-blue-50 to-indigo-50 mb-6 mt-6 rounded-xl shadow-lg p-8">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">RESEÑAS</h2>

<!--    &lt;!&ndash; Mensaje si no hay reseñas &ndash;&gt;-->
    <p *ngIf="resenas.length === 0" class="text-gray-600 text-center">No hay reseñas para este libro.</p>

    <!-- Lista de reseñas -->
    <div *ngFor="let resena of resenas" class="bg-white p-6 rounded-lg shadow-md mb-6 hover:shadow-lg transition-shadow duration-300">
      <div class="flex items-center justify-between mb-4">
        <!-- Nombre del usuario -->
        <p class="text-gray-800 font-semibold text-lg">{{ resena.usuario }}</p>
        <!-- Calificación con estrellas -->
        <div class="flex items-center space-x-1">
          <span class="text-yellow-400 text-xl">⭐</span>
          <span class="text-gray-700 font-medium">{{ resena.calificacion }}/5</span>
        </div>
      </div>
      <!-- Comentario -->
      <p class="text-gray-600 leading-relaxed">{{ resena.comentario }}</p>
      <!-- Fecha -->
      <p class="text-gray-500 text-sm mt-3">Publicado el {{ resena.fecha }}</p>
    </div>
  </div>


</div>



<div *ngIf="showAlert" class="fixed top-0 left-0 right-0 flex justify-center transition-transform duration-500 transform translate-y-0">
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 shadow-lg rounded-md w-full max-w-md mx-auto">
    <p class="font-bold">Acción no permitida</p>
    <p class="text-sm">Debes iniciar sesión para agregar al carrito.</p>
  </div>
</div>

