<div class="min-h-screen flex flex-col">
  <section class="bg-customGreen py-2 md:py-3 shadow-gray-500 shadow-sm" xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-4 md:px-6 lg:px-8 lg:gap-x-4 justify-between">
      <div class="mt-10 md:mt-0">
        <img src="../../../../assets/logo_puntosafa.png" alt="Logo Punto Safa" class="w-full max-w-xs mx-auto">
      </div>
      <div class="flex items-center justify-center text-center md:text-left max-w-2xl lg:max-w-xl mx-auto">
        <h1 class="text-4xl font-extrabold text-blue-900 leading-tight">
          Registro
        </h1>
      </div>
    </div>
  </section>

  <main class="flex-grow flex flex-col items-center justify-center bg-white mt-8 mb-8">
    <div class="bg-blue-50 p-8 rounded-lg shadow-lg w-full max-w-2xl mt-8">
      <h3 class="text-3xl font-semibold text-gray-800 text-center mb-6">Ingresa tus datos</h3>
      <form class="space-y-6" [formGroup]="registroForm" (ngSubmit)="onRegister()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Username -->
          <div class="relative flex flex-col">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa fa-user text-gray-400"></i>
            </div>
            <input id="username" type="text" formControlName="nick" required class="input pl-10" placeholder="Username o Nick">
            <div *ngIf="registroForm.get('nick')?.invalid && registroForm.get('nick')?.touched" class="text-red-500">
              Nombre de usuario inválido.
            </div>
          </div>

          <!-- Nombre -->
          <div class="relative flex flex-col">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa fa-id-card text-gray-400"></i>
            </div>
            <input id="nombre" type="text" formControlName="nombre" required class="input pl-10" placeholder="Nombre">
            <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="text-red-500">
              Nombre inválido.
            </div>
          </div>
        </div>

        <div class="relative flex flex-col">
          <!-- Apellidos -->
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="fa fa-id-card-alt text-gray-400"></i>
          </div>
          <input id="apellidos" type="text" formControlName="apellidos" required class="input pl-10" placeholder="Apellidos">
          <div *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched" class="text-red-500">
            Apellidos inválidos.
          </div>
        </div>

        <div class="relative flex flex-col">
          <!-- Email -->
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="fa fa-envelope text-gray-400"></i>
          </div>
          <input id="email" type="email" formControlName="email" required class="input pl-10" placeholder="(email@ejemplo)">
          <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-red-500">
            Email inválido (debe contener arroba).
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- DNI -->
          <div class="relative flex flex-col">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa fa-id-badge text-gray-400"></i>
            </div>
            <input id="dni" type="text" formControlName="dni" required class="input pl-10" placeholder="(12345678A)">
            <div *ngIf="registroForm.get('dni')?.invalid && registroForm.get('dni')?.touched" class="text-red-500">
              DNI inválido (Debe contener números y 1 letra).
            </div>
          </div>

          <!-- Foto -->
          <div class="relative flex flex-col">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa fa-camera text-gray-400"></i>
            </div>
            <input id="foto" type="text" formControlName="foto" required class="input pl-10" placeholder="https://www.foto.jpg">
            <div *ngIf="registroForm.get('foto')?.invalid && registroForm.get('foto')?.touched" class="text-red-500">
              URL de foto inválida.
            </div>
          </div>
        </div>

        <div class="relative flex flex-col">
          <!-- Dirección -->
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="fa fa-map-marker text-gray-400"></i>
          </div>
          <input id="direccion" type="text" formControlName="direccion" required class="input pl-10" placeholder="Dirección">
          <div *ngIf="registroForm.get('direccion')?.invalid && registroForm.get('direccion')?.touched" class="text-red-500">
            Dirección inválida.
          </div>
        </div>

        <div class="relative flex flex-col">
          <!-- Teléfono -->
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="fa fa-phone text-gray-400"></i>
          </div>
          <input id="telefono" type="text" formControlName="telefono" required class="input pl-10" placeholder="+0034 123456789">
          <div *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched" class="text-red-500">
            Teléfono inválido.
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Contraseña -->
          <div class="relative flex flex-col">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa fa-lock text-gray-400"></i>
            </div>
            <input id="password" type="password" formControlName="contrasena" required class="input pl-10" placeholder="(mín 6 carac 1 mayús 1 num)">
            <div *ngIf="registroForm.get('contrasena')?.invalid && registroForm.get('contrasena')?.touched" class="text-red-500">
              La contraseña debe tener al menos 6 caracteres.
            </div>
          </div>

          <!-- Repetir Contraseña -->
          <div class="relative flex flex-col">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa fa-lock text-gray-400"></i>
            </div>
            <input id="repeatPassword" type="password" formControlName="repetircontrasena" required class="input pl-10" placeholder="Repetir Contraseña">
            <div *ngIf="registroForm.errors?.['passwordMismatch'] && registroForm.get('repetircontrasena')?.touched" class="text-red-500">
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>

        <!-- Botón de registro -->
        <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-md font-semibold hover:bg-teal-700 transition-all" [disabled]="registroForm.invalid">
          Registrarme
        </button>
      </form>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="mt-4 p-3 text-red-600 bg-red-100 border border-red-400 rounded">
        {{ errorMessage }}
      </div>

      <!-- Enlace a iniciar sesión -->
      <p class="text-center text-sm mt-6 text-gray-600">
        ¿Ya tienes cuenta? <a href="/login" class="text-blue-600 font-bold hover:underline">Inicia sesión aquí.</a>
      </p>
    </div>
  </main>
</div>

