
<div class="min-h-screen flex flex-col">
  <section class="bg-customGreen py-2 md:py-3 shadow-gray-500 shadow-sm" xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <div class="container mx-auto flex flex-col md:flex-row items-centerpx-4 md:px-6 lg:px-8 lg:gap-x-4 justify-between">
      <div class="mt-10 md:mt-0 md:ml-0 lg:ml-0">
        <img src="../../../../assets/logo_puntosafa.png" alt="Logo Punto Safa" class="w-full max-w-xxs md:max-w-xs mx-auto">
      </div>

      <div class="flex items-center justify-center text-center md:text-left max-w-2xl lg:max-w-xl mx-auto">
        <h1 class="text-4xl font-extrabold text-blue-900 leading-tight">
          Registro
        </h1>
      </div>
    </div>
  </section>

  <!-- Contenedor Principal -->
  <main class="flex-grow flex flex-col items-center justify-center bg-white mt-8 mb-8">

    <div class="bg-blue-50 p-12 rounded-lg shadow-lg w-2/4 mt-8">
      <h3 class="text-3xl font-semibold text-gray-800 text-center mb-6">Ingresa tu datos</h3>
      <form class="space-y-6" [formGroup]="registroForm" (ngSubmit)="onRegister()">

        <div class="grid grid-cols-2 gap-6">
          <!-- Username -->
          <div class="relative flex flex-col">
            <div class="relative flex items-center">
              <i class="fa-solid fa-user input-icon"></i>
              <input id="username" type="text" formControlName="nick" required class="input" placeholder="Username o Nick">
            </div>
            <div *ngIf="registroForm.get('nick')?.invalid && registroForm.get('nick')?.touched" class="text-red-500">
              Nombre de usuario inválido.
            </div>
          </div>

          <!-- Nombre -->
          <div class="relative flex flex-col">
            <div class="relative flex items-center">
              <i class="fa-solid fa-user input-icon"></i>
              <input id="nombre" type="text" formControlName="nombre" required class="input" placeholder="Nombre">
            </div>
            <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="text-red-500">
              Nombre inválido.
            </div>
          </div>
        </div>

        <!-- Apellidos -->
        <div class="relative flex flex-col">
          <div class="relative flex items-center">
            <i class="fa-solid fa-user input-icon"></i>
            <input id="apellidos" type="text" formControlName="apellidos" required class="input" placeholder="Apellidos">
          </div>
          <div *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched" class="text-red-500">
            Apellidos inválidos.
          </div>
        </div>

        <!-- Email -->
        <div class="relative flex flex-col">
          <div class="relative flex items-center">
            <i class="fas fa-envelope input-icon"></i>
            <input id="email" type="email" formControlName="email" required class="input" placeholder="Email">
          </div>
          <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-red-500">
            Email inválido.
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- DNI -->
          <div class="relative flex flex-col">
            <div class="relative flex items-center">
              <i class="fa-solid fa-id-card input-icon"></i>
              <input id="dni" type="text" formControlName="dni" required class="input" placeholder="DNI">
            </div>
            <div *ngIf="registroForm.get('dni')?.invalid && registroForm.get('dni')?.touched" class="text-red-500">
              DNI inválido (Debe contener 8 números y 1 letra).
            </div>
          </div>

          <!-- URL Foto -->
          <div class="relative flex flex-col">
            <div class="relative flex items-center">
              <i class="fa-solid fa-camera input-icon"></i>
              <input id="foto" type="text" formControlName="foto" required class="input" placeholder="URL de la foto">
            </div>
            <div *ngIf="registroForm.get('foto')?.invalid && registroForm.get('foto')?.touched" class="text-red-500">
              URL de foto inválida.
            </div>
          </div>
        </div>

        <!-- Dirección -->
        <div class="relative flex flex-col">
          <div class="relative flex items-center">
            <i class="fa-solid fa-map-marker-alt input-icon"></i>
            <input id="direccion" type="text" formControlName="direccion" required class="input" placeholder="Dirección">
          </div>
          <div *ngIf="registroForm.get('direccion')?.invalid && registroForm.get('direccion')?.touched" class="text-red-500">
            Dirección inválida.
          </div>
        </div>

        <!-- Teléfono -->
        <div class="relative flex flex-col">
          <div class="relative flex items-center">
            <i class="fa-solid fa-phone input-icon"></i>
            <input id="telefono" type="text" formControlName="telefono" required class="input" placeholder="Teléfono +34">
          </div>
          <div *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched" class="text-red-500">
            Teléfono inválido.
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Contraseña -->
          <div class="relative flex flex-col">
            <div class="relative flex items-center">
              <i class="fa-solid fa-lock input-icon"></i>
              <input id="password" type="password" formControlName="contrasena" required class="input" placeholder="Password">
            </div>
            <div *ngIf="registroForm.get('contrasena')?.invalid && registroForm.get('contrasena')?.touched" class="text-red-500">
              La contraseña debe tener al menos 6 caracteres.
            </div>
          </div>

          <!-- Repetir Contraseña -->
          <div class="relative flex flex-col">
            <div class="relative flex items-center">
              <i class="fa-solid fa-lock input-icon"></i>
              <input id="repeatPassword" type="password" formControlName="repetircontrasena" required class="input" placeholder="Password again">
            </div>
            <div *ngIf="registroForm.errors?.['passwordMismatch'] && registroForm.get('repetircontrasena')?.touched" class="text-red-500">
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>

        <!-- Botón de registro -->
        <button type="submit" class="w-full bg-blue-600  text-white py-3 rounded-md font-semibold hover:bg-teal-700 transition-all">
          Registrarme
        </button>
      </form>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="mt-4 p-3 text-red-600 bg-red-100 border border-red-400 rounded">
        {{ errorMessage }}
      </div>

      <!-- Enlace a iniciar sesión -->
      <p class="text-center text-sm mt-6 text-gray-600">
        ¿Ya tienes cuenta? <a href="/login" class="text-blue-600  font-bold hover:underline">Inicia sesión aquí.</a>
      </p>
    </div>

  </main>
</div>
