<section class="min-h-[calc(100vh-8rem)] py-16 px-4 sm:px-6 lg:px-8 relative" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url('../../../../assets/puntosafa_fondo3.jpeg'); background-size: cover; background-position: center;">

<app-hero-section-inicio></app-hero-section-inicio>
  <section class="bg-white py-4">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <div class="  container mx-auto flex justify-center items-center space-x-4">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Buscar libro por autor o título..."
        class="border  border-gray-300 rounded-xl px-4 py-2 w-2/3 text-custom-blue "
      />
      <button (click)="onSearch()"  class="bg-blue-900 text-white px-6 py-2 rounded hover:bg-gray-400">
        Buscar
      </button>
    </div>
  </section>
  <app-cajas-categoria-inicio></app-cajas-categoria-inicio>
  <app-carousel></app-carousel>
  <app-recomendacion-libro></app-recomendacion-libro>

</section>
