<section class="min-h-[calc(100vh-8rem)] py-16 px-4 sm:px-6 lg:px-8 relative" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url('../../../../assets/fondo_puntosafa.jpeg'); background-size: cover; background-position: center;">
  <div class="max-w-7xl mx-auto text-center">
    <!-- Contenedor de bloques de texto -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Primer bloque -->
      <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <h1 class="text-2xl sm:text-3xl font-bold text-customTeal mb-6 sm:mb-12">
          Sobre nosotros
        </h1>
        <p class="text-gray-600 text-base sm:text-lg leading-relaxed">
          Punto Safa es una librería online, y creemos en el poder transformador de la lectura. Estamos comprometidos en proporcionar acceso a libros de calidad para todas las edades y gustos.
        </p>
      </div>

      <!-- Segundo bloque -->
      <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <h1 class="text-2xl sm:text-3xl font-bold text-customTeal mb-6 sm:mb-12">
          Nuestra misión
        </h1>
        <p class="text-gray-600 text-base sm:text-lg leading-relaxed">
          Nuestro objetivo es fomentar el hábito de la lectura y enriquecer las mentes de nuestros lectores con los mejores títulos disponibles. Desde novelas clásicas hasta libros contemporáneos, tenemos algo para todos.
        </p>
      </div>

      <!-- Tercer bloque -->
      <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <h1 class="text-2xl sm:text-3xl font-bold text-customTeal mb-6 sm:mb-12">
          ¿Por qué elegirnos?
        </h1>
        <p class="text-gray-600 text-base sm:text-lg leading-relaxed">
          Ofrecemos una experiencia de compra sencilla, entregas rápidas y una atención personalizada que asegura la satisfacción de cada cliente. Además, promovemos autores independientes y sostenemos prácticas amigables con el medio ambiente.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-12 text-center">
    <a href="/catalogo" class="inline-block bg-custom-blue text-white px-6 py-3 rounded-lg hover:bg-gray-500 transition-colors duration-300">
      Descubre nuestros libros
    </a>
  </div>
  <div class="flex justify-center mt-6">
    <img src="../../../../assets/mujer_astronauta.png" alt="Mujer Astronauta" class="w-full sm:w-1/2 h-auto rounded-lg shadow-lg">
  </div>
</section>
