<div class="min-h-screen flex flex-col">
  <!-- Encabezado -->
  <section class="bg-customGreen py-2 md:py-3 shadow-gray-500 shadow-sm">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-4 md:px-6 lg:px-8 lg:gap-x-4 justify-between">
      <img src="/assets/logo_puntosafa.png" alt="Logo Punto Safa" class="w-full max-w-xxs md:max-w-xs mx-auto">
      <h1 class="text-4xl font-extrabold text-blue-900 leading-tight">
        Registrar nuevo libro
      </h1>
    </div>
  </section>

  <!-- Contenedor Principal -->
  <main class="flex-grow flex flex-col items-center justify-center bg-white my-8">
    <div class="bg-blue-50 p-12 rounded-xl shadow-2xl w-full max-w-[850px] mx-auto">

      <!-- Formulario para Crear -->
      <div class="md:w-2/3 w-full">
          <form [formGroup]="libroForm">
          <!-- Título -->
          <div>
            <label for="titulo" class="block text-sm font-medium text-gray-700">Título</label>
            <input type="text" id="titulo" formControlName="titulo"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese el título">
            <div *ngIf="libroForm.get('titulo')?.invalid && libroForm.get('titulo')?.touched" class="text-red-600 text-sm">
              El título es obligatorio y debe tener máximo 255 caracteres.
            </div>
          </div>

          <!-- Resumen -->
          <div>
            <label for="resumen" class="block text-sm font-medium text-gray-700">Resumen</label>
            <textarea id="resumen" formControlName="resumen"
                      class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                      placeholder="Ingrese un resumen (opcional)"></textarea>
            <div *ngIf="libroForm.get('resumen')?.invalid && libroForm.get('resumen')?.touched" class="text-red-600 text-sm">
              El resumen debe tener máximo 800 caracteres.
            </div>
          </div>

          <!-- Año de Publicación -->
          <div>
            <label for="anioPublicacion" class="block text-sm font-medium text-gray-700">Año de Publicación</label>
            <input type="date" id="anioPublicacion" formControlName="anioPublicacion"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese el año de publicación">
            <div *ngIf="libroForm.get('anioPublicacion')?.invalid && libroForm.get('anioPublicacion')?.touched" class="text-red-600 text-sm">
              El año de publicación es obligatorio.
            </div>
          </div>

          <!-- Precio -->
          <div>
            <label for="precio" class="block text-sm font-medium text-gray-700">Precio</label>
            <input type="number" id="precio" formControlName="precio"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese el precio">
            <div *ngIf="libroForm.get('precio')?.invalid && libroForm.get('precio')?.touched" class="text-red-600 text-sm">
              El precio es obligatorio y debe ser un valor mayor o igual a 0.
            </div>
          </div>

          <!-- ISBN -->
          <div>
            <label for="ISBN" class="block text-sm font-medium text-gray-700">ISBN</label>
            <input type="text" id="ISBN" formControlName="ISBN"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese el ISBN (10 o 13 dígitos)">
            <div *ngIf="libroForm.get('ISBN')?.invalid && libroForm.get('ISBN')?.touched" class="text-red-600 text-sm">
              El ISBN es obligatorio y debe ser un número de 10 o 13 dígitos.
            </div>
          </div>

          <!-- Editorial -->
          <div>
            <label for="editorial" class="block text-sm font-medium text-gray-700">Editorial</label>
            <input type="text" id="editorial" formControlName="editorial"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese la editorial">
            <div *ngIf="libroForm.get('editorial')?.invalid && libroForm.get('editorial')?.touched" class="text-red-600 text-sm">
              La editorial es obligatoria.
            </div>
          </div>

          <!-- Imagen -->
          <div>
            <label for="imagen" class="block text-sm font-medium text-gray-700">Imagen (URL)</label>
            <input type="text" id="imagen" formControlName="imagen"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese la URL de la imagen">
          </div>

          <!-- Idioma -->
          <div>
            <label for="idioma" class="block text-sm font-medium text-gray-700">Idioma</label>
            <input type="text" id="idioma" formControlName="idioma"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese el idioma">
            <div *ngIf="libroForm.get('idioma')?.invalid && libroForm.get('idioma')?.touched" class="text-red-600 text-sm">
              El idioma es obligatorio.
            </div>
          </div>

          <!-- Número de páginas -->
          <div>
            <label for="numPaginas" class="block text-sm font-medium text-gray-700">Número de páginas</label>
            <input type="number" id="numPaginas" formControlName="numPaginas"
                   class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                   placeholder="Ingrese el número de páginas">
            <div *ngIf="libroForm.get('numPaginas')?.invalid && libroForm.get('numPaginas')?.touched" class="text-red-600 text-sm">
              El número de páginas es obligatorio.
            </div>
          </div>

            <!-- Autor -->
            <div>
              <label for="autorId" class="block text-sm font-medium text-gray-700">ID del Autor</label>
              <input type="number" id="autorId" formControlName="autor"
                     class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                     placeholder="Ingrese el ID del autor">
              <div *ngIf="libroForm.get('autor')?.invalid && libroForm.get('autor')?.touched" class="text-red-600 text-sm">
                El autor es obligatorio.
              </div>
            </div>

            <!-- Categoría -->
            <div>
              <label for="categoriaId" class="block text-sm font-medium text-gray-700">ID de la Categoría</label>
              <input type="number" id="categoriaId" formControlName="categoria"
                     class="mt-1 block w-full border border-gray-300 rounded-md p-3"
                     placeholder="Ingrese el ID de la categoría">
              <div *ngIf="libroForm.get('categoria')?.invalid && libroForm.get('categoria')?.touched" class="text-red-600 text-sm">
                La categoría es obligatoria.
              </div>
            </div>


            <!-- Botón Guardar -->
          <div class="mt-6">
            <button type="submit"
                    (click)="guardarLibro()"
                    class="w-full bg-green-500 text-white py-3 rounded-lg font-semibold text-lg shadow-md hover:bg-green-600 transition duration-300">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>

<div class="fixed z-10 inset-0 overflow-y-auto hidden" id="error-modal">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
         role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div>
        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
          <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <div class="mt-3 text-center sm:mt-5">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            Error
          </h3>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              Hubo un error al registrar el libro. Inténtalo nuevamente.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-6">
        <button class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm"
                (click)="cerrarModalError()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div id="success-modal" class="hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-screen">
  <div class="relative p-4 w-full max-w-md h-auto">
    <div class="relative p-4 text-center bg-white rounded-lg shadow sm:p-5">
      <button type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
              (click)="cerrarModalExito()">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
      </button>
      <div class="w-12 h-12 rounded-full bg-green-100 p-2 flex items-center justify-center mx-auto mb-3.5">
        <svg aria-hidden="true" class="w-8 h-8 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
        </svg>
      </div>
      <p class="mb-4 text-lg font-semibold text-gray-900">📚 ¡Libro creado exitosamente!</p>
      <button type="button" class="py-2 px-3 text-sm font-medium text-center text-white rounded-lg bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300"
              (click)="cerrarModalExito()">
        Continuar
      </button>
    </div>
  </div>
</div>

