<div class="flex justify-center items-center mt-12">
  <div class="flex w-96 min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-[#BBCCDD] rounded-2xl items-center">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="text-center text-2xl/9 font-bold tracking-tight text-[#1D2C4B]">Regístrate</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
          <div class="mt-2">
            <input id="email" type="email" required autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6">
          </div>
        </div>

        <div>
          <label for="dni" class="block text-sm/6 font-medium text-gray-900">DNI</label>
          <div class="mt-2">
            <input id="dni" type="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6">
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Contraseña</label>
          <div class="mt-2">
            <input id="password" type="password" required autocomplete="new-password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6">
          </div>
        </div>

        <div>
          <label for="repeat-password" class="block text-sm/6 font-medium text-gray-900">Repetir Contraseña</label>
          <div class="mt-2">
            <input id="repeat-password" type="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6">
          </div>
        </div>

        <div>
          <label for="phone" class="block text-sm/6 font-medium text-gray-900">Teléfono</label>
          <div class="mt-2">
            <input id="phone" type="tel" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6">
          </div>
        </div>

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-[#009990] px-3 py-1.5 text-sm/6 font-semibold text-[#F0F4EF] shadow-sm hover:bg-fondo focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
